body {
  min-height: auto;
  padding-top: 70px;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;    
}

.navbar-default {
  background-color: #fff;
  border-color: #e7e7e7;
}

.media,
.media-body {
  line-height: 17px;    
  overflow: hidden;
  zoom: 1;
  padding: 7px;    
}

.media p {
  font-size: 17px;
  color: #8e8c8c;
}

.media-upvote {
  display: block;
  margin-top: 6px;
}

.media-object {
  display: block;
  margin-top: 6px;
  margin-right: 20px;  
}

.media:hover,
.media:focus {
  color: #555;
  text-decoration: none;
  background-color: rgba(203, 225, 237, 0.39);
  border-radius: 6px;
}

.comment-image {
    margin-top: 10px;
    margin-right: 8px;
    position: relative;
    top: 1px;
}    

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 960px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

